<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>
<body>
    <!-- Phần đầu trang / -->
    <header>

    </header>
    <!-- ./ phần đầu trang  -->
    <!-- Menu đều hướng -->
    <nav id="navBar">

    </nav>
    <!-- ./ Menu đều hướng -->
    <!-- slideBar -->
    <section id="banner">
        <aside>

        </aside>
    </section>
    <!-- ./ slideBar -->
    <!-- Danh mục sản phẩm -->
    <section id="catalog">
        <div>
            <h2>DANH MỤC SẢN PHẢM</h2>
        </div>
    </section>
    <!-- ./ Danh mục sản phẩm -->
    <!-- Sản phẩm mới  -->
    <section id="productNew">
        <div class="container">
            <h2>SẢN PHẨM MỚI</h2>
        </div>
    </section>
    <!-- ./ Sản phẩm mới  -->
    <!-- Tin túc  -->
    <section id="news">
        <div class="container">
            <h2>Tin tức</h2>
            <article>

            </article>
        </div>
    </section>
    <!-- ./ Tin túc  -->
    <!-- Đối tác  -->
    <section id="doiTac">
        <div class="container">
            <h2>Đối tác</h2>
        </div>
    </section>
    <!-- ./ Đối tác  -->
    <footer>
        <div class="container">
            
        </div>
    </footer>
</body>
</html>