<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab03 Bài tập thực hành 03</title>
</head>
<body>
    <h1>Lab03 Bài tập thực hành 03</h1>
    <fieldset>
        <legend>Bạn đang nghe bài hát</legend>
        <h2>Bài hát Bạn Đời – GDUCKY, Karik:</h2><br/>
        <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="/B3/IMG/Nhac-Chuong-Ban-Doi-Karik.mp3" type="audio/mpeg">
        </audio>
        <br/>
        <label>Chất lượng: </label>
        <input type="radio" name="chatLuong" id="q128">
        <label for="q128">128kb</label>
        <input type="radio" name="chatLuong" id="q320">
        <label for="q320">320kb</label>
        <input type="radio" name="chatLuong" id="lossless">
        <label for="lossless">Lossless</label>
        <details>
            <br/>
            <summary><h3>Lời bài hát</h3></summary>
            <p>
                Kiếp trước có lẽ 2 ta yêu nhau mà chẳng thể thành vợ chồng <br/>
                Nghĩ thoáng nên mai ra sao tụi mình cũng đều hài lòng <br/>
                Có thể hôm nay thương, có thể tương lai buông <br/>
                Có thể ta không giàu, miễn ở bên nhau vui không buồn <br/>
                Chớp mắt 20-30 chiều nao rồi tụi mình cũng về già <br/>
                Ai rồi sẽ phải trước sau theo 1 người cùng về nhà <br/>
                Bước tiếp hay quên đi, nghĩ lắm chi thêm suy <br/>
                Ta cứ như bây giờ lo âu xa xôi để làm gì
            </p>
        </details>
    </fieldset>
</body>
</html>