<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab02-01</title>
</head>
<body>
    <h1>Lab02-01</h1>
    <hr>
    <h2>Bài 01: </h2>
    <table border="1" width="500px" cellspacing = "0" cellpadding="5">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên danh mục</th>
                <th>Ngày sửa</th>
                <th>Thứ tự</th>
                <th>Trạng thái</th>
                <th>
                    <img src="/B1/IMG/table1.png" alt="" width="10%">
                       Tác vụ
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>PHÒNG KHÁCH</td>
                <td>7/8/2020</td>
                <td>1</td>
                <td><font color="green">Hoạt động</font></td>
                <td align="center">
                    <img src="/B1/IMG/table4.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table2.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table3.png" alt="" width="20%">
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>PHÒNG NGỦ</td>
                <td>7/8/2020</td>
                <td>2</td>
                <td><font color="green">Hoạt động</font></td>
                <td align="center">
                    <img src="/B1/IMG/table4.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table2.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table3.png" alt="" width="20%">
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>PHÒNG BẾP</td>
                <td>7/8/2020</td>
                <td>3</td>
                <td><font color="green">Hoạt động</font></td>
                <td align="center">
                    <img src="/B1/IMG/table4.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table2.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table3.png" alt="" width="20%">
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>PHÒNG TẮM</td>
                <td>7/8/2020</td>
                <td>4</td>
                <td><font color="green">Hoạt động</font></td>
                <td align="center">
                    <img src="/B1/IMG/table4.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table2.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table3.png" alt="" width="20%">
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>TRẺ EM</td>
                <td>7/8/2020</td>
                <td>5</td>
                <td><font color="green">Hoạt động</font></td>
                <td align="center">
                    <img src="/B1/IMG/table4.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table2.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table3.png" alt="" width="20%">
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>VĂN PHÒNG</td>
                <td>7/8/2020</td>
                <td>6</td>
                <td><font color="green">Hoạt động</font></td>
                <td align="center">
                    <img src="/B1/IMG/table4.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table2.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table3.png" alt="" width="20%">
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>CẦU THANG</td>
                <td>7/8/2020</td>
                <td>7</td>
                <td><font color="green">Hoạt động</font></td>
                <td align="center">
                    <img src="/B1/IMG/table4.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table2.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table3.png" alt="" width="20%">
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>TRANG TRÍ</td>
                <td>7/8/2020</td>
                <td>8</td>
                <td><font color="green">Hoạt động</font></td>
                <td align="center">
                    <img src="/B1/IMG/table4.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table2.jpg" alt="" width="20%">
                    <img src="/B1/IMG/table3.png" alt="" width="20%">
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">Tổng có: 8 danh mục</td>
            </tr>
        </tfoot>
    </table>

    <h2>Bài 05: </h2>
    <form action="" method="post">
        <table width="500px" cellspacing = "0" cellpadding="5">
            <tbody>
                <tr  align="center">
                    <th>Liên hệ ngay với chuyên gia của chúng tôi</th>
                    <th rowspan="6">
                        <img src="/B1/IMG/docter.jpg" alt="docter" width="100%">
                    </th>
                </tr>
                <tr>
                    <td><input type="text" name="fullName" id="fullName" placeholder="Họ tên" size="35"></td>
                </tr>
                <tr>
                    <td><input type="email" name="email" id="email" placeholder="Email" size="35"></td>
                </tr>
                <tr>
                    <td><input type="tel" name="sdt" id="sdt" placeholder="Số điện thoại" size="35"></td>
                </tr>
                <tr>
                    <td><input type="text" name="diaChi" id="diaChi" placeholder="Địa chỉ" size="35"></td>
                </tr>
                <tr>
                    <td><textarea name="noiDung" id="noiDung" cols="35" rows="5" placeholder="Nội dung"></textarea></td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="submit" name="sub" id="sub" value="Gửi thông tin">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>